@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Press Start 2P', sans-serif;
  color: #fbf7f7;
  background-color: #1e1717;
  
 
}
header{
  box-sizing: border-box;
  padding-top: 5%;
 padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 5px solid #fff;
}
h1{
 
  color: #dc4f4f;
    padding-top: 5%;
    text-align: center;
}
.number {
    background: #eee;
    color: #333;
    font-size: 5rem;
    width: 10rem;
  padding-top: 15px;
    text-align: center;
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
.again {
font-family:'Press Start 2P', sans-serif ;
color: #333;
width: 20%;
height: 10vh;
font-size: 25px;
margin-right: 10%;
margin-left: 5%;
}

main{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 10%;
}
.right p{
padding-top: 10%;
}
.guess
{
    background-color: #1e171761;
    font-family:'Press Start 2P', sans-serif ;
    color: #dd8882;
    border: 5px solid #fff;
    width: 6em;
    height: 12vh;
    font-size: 40px;
    text-align: center;
  
  
}
.between {
    color: rgb(236, 63, 63);
}
.check
{
    color: #333;
    font-size: 20px;
    font-family:'Press Start 2P', sans-serif ;
    width: 7em;
    height: 10vh;
   background-color: #f3ebeb;
   position: absolute;
   top: 85%;
   right: 70%;
}

.btn:hover {
    background-color: #ccc;
  }
  .again:hover
  {
    background-color: #ccc;
  }
  @media only screen and (max-width: 800px) {
    
    main{
      display: flex;
     
    }


    .again {
        font-family:'Press Start 2P', sans-serif ;
        width: 50%;
        color: #333;
        height: 6vh;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 5%;
        position: absolute;
        bottom: 65%;
        left: 45%;
        transform: translate(-50%, 50%);
        }
       .right
       {
        position: absolute;
        top: 60%;
       }


        .check
        {
            color: #333;
            font-size: 15px;
            font-family:'Press Start 2P', sans-serif ;
            width: 7em;
            height: 10vh;
           background-color: #f3ebeb;
           position: absolute;
           top: 45%;
           right:17%;
        }

        .number {
            position: absolute;
            bottom: 77%;
            left: 50%;
            transform: translate(-50%, 50%);
            font-size: 40px;
            width: 3em;
            padding: 5px;
            background: #eee;
            color: #333;
            text-align: center;
          
          }
          header{
            box-sizing: border-box;
            padding-top: 5%;
           padding-bottom: 10%;
              display: flex;
              align-items: center;
              justify-content: space-around;
              border-bottom: 5px solid #fff;
          }



          .guess
          {
              font-family:'Press Start 2P', sans-serif ;
              color: #a65f5a;
              background-color: #1e1717;
              margin-right: 10%;
              width: 4em;
              border: 5px solid #fff;
              height: 10vh;
              font-size: 40px;
              text-align: center;
              position: absolute;
              bottom: 50%;
              left: 30%;
              transform: translate(-50%, 50%);
            
          }
          .between {
            text-align: center;
            color: rgb(236, 63, 63);
        }
  }
  @media only screen and (max-width: 1150px) and (min-width: 600px)  {

.number
{
    display: none;
}



  }
 